<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <div class="card m-auto my-4" style="width: 50rem;">
                                <div class="card-body d-flex justify-content-between">
                                            <h5 class="card-title">You bought <%= p.productId.title %></h5>
                                            <p class="card-text">Quantity: <%= p.quantity  %></p>
                                            <form action="/cart-delete-item" method="POST">
                                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                                <button type="submit" class="btn btn-primary">Go to Home page</button>
                                                <button class="btn danger" type="submit">Delete</button>
                                            </form>
                                </div>
                            </div>
                            <h1><%= p.productId.title %></h1>
                            <h2><%= p.quantity %></h2> &nbsp;
                        </li>
                    <% }) %>
                </ul>
                <hr>
              
                <div class="centered">
                <a href="/checkout" class="btn btn-dark">Checkout</a>
            </div>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>